        .game {
            width: 700px;
            height: 700px;

            border: 2px solid #000;
            position: relative;

        }

        #pacman {
            position: absolute;
            top: 100px;
            left: 50px;
            ;
            z-index: 100;
        }

        span {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;

        }

        .pacman-top {
            background-color: yellow;
            height: 24px;
            width: 48px;
            border-radius: 48px 48px 0 0;
            animation: spin1 0.5s infinite linear;
        }

        .pacman-bottom {
            background-color: yellow;
            height: 24px;
            width: 48px;
            border-radius: 0 0 48px 48px;
            animation: spin2 0.5s infinite linear;
        }


        @keyframes spin1 {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(-35deg);
            }

        }

        @keyframes spin2 {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(35deg);
            }
        }
